{% extends "base.html" %}
{% block title %}Articles{% endblock %}

{% block style %}
<style>
    .articles-list {
        margin: 4vh auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style-type: none;
        row-gap: 6vh;
    }

    .article {
        gap: 0.3vh;
        display: flex;
        flex-direction: column;
    }

    .article:nth-child(even) {
        align-items: flex-end;
    }

    .article-date {
        font-size: medium;
    }

    .article-link {
        font-size: xx-large;
    }
</style>
{% endblock style %}

{% block content %}

<body>
    <div class="wrapper-container">
        <ul class="articles-list">
            {% for article in articles %}
            <li class="article">
                {% if is_blog %}
                    <a href="{{ url_for('blog', name=article.file ) }}" class="article-link">
                {% else %}
                    <a href="{{ url_for('portfolio', name=article.file ) }}" class="article-link">
                {% endif %}
                {{ article.title }}
                </a>
                <p class="article-date">{{ article.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock content %}