{% extends "base.html" %}
{% block title %}Articles{% endblock %}

{% block style %}
<style>
    .articles-list {
        max-width: 55vw;
        min-width: 55vw;
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .article {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 0.3vh;
        display: flex;
    }

    .article-date {
        font-size: medium;
    }

    @media only screen and (max-width: 600px) {
        .articles-list {
            max-width: 90vw;
            min-width: 90vw;
        }

        .navigation-link {
            font-size: large;
        }

        .article-date {
            font-size: small;
        }
    }
</style>
{% endblock style %}

{% block content %}

<body>
    <div class="wrapper-container">
        <ul class="articles-list">
            {% for article in articles %}
            <li class="article">
                {% if is_blog %}
                <a href="{{ url_for('blog', name=article.file ) }}" class="navigation-link">
                    {% else %}
                    <a href="{{ url_for('portfolio', name=article.file ) }}" class="navigation-link">
                        {% endif %}
                        {{ article.title }}
                    </a>
                    <p class="article-date">{{ article.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock content %}