{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block style %}
<style>
    .article-title {
        font-size: 5em;
    }

    .header-container {
        margin: 3vh auto 5vh;
        max-width: fit-content;
    }

    .article-container {
        margin-top: 3vh;
        margin-bottom: 5vh;
        text-align: left;
        line-height: 1.8;
        font-size: x-large;
    }

    .article-container ul {
        margin-left: 30px;
    }
</style>
{% endblock style %}

{% block content %}

<div class="wrapper-container">
    <header class="header-container">
        <h1 class="article-title">{{ article.title }}</h1>
    </header>
    <div class="article-container">
        {{ article.html|safe }}
    </div>
</div>

{% endblock content %}