{% extends "base.html" %}
{% block title %}Blog{% endblock %}

{% block style %}
<style>
    .articles-list {
        margin: 4vh auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 6vh;
    }

    .article:nth-child(even) {
        align-items: self-end;
    }

    .article-date {
        font-size: medium;
    }
</style>
{% endblock style %}

{% block content %}

<body>
    <div class="wrapper-container">
        <ul class="articles-list">
            {% for article in articles %}
            <li class="article">
                <a href="{{ url_for('articles', article_name=article.file_name) }}">
                    {{ article.title }}
                </a>
                <p class="article-date">{{ article.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock content %}