{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% block style %}
<style>
    .projects-list {
        margin: 4vh auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 6vh;
    }

    .project {
        display: flex;
        flex-direction: column;
        gap: 1vh 0;
        font-size: xx-large;
    }

    .project:nth-child(even) {
        align-items: self-end;
    }

    .project-date {
        font-size: medium;
    }
</style>
{% endblock style %}

{% block content %}

<body>
    <div class="wrapper-container">
        <ul class="projects-list">
            {% for project in projects %}
            <li class="project">
                <a href="{{ url_for('projects', project_name=project.file_name) }}">
                    {{ project.title }}
                </a>
                <p class="project-date">{{ project.date }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>

{% endblock content %}