{% extends "base.html" %}
{% block title %}project.title{% endblock %}

{% block style %}
<style>
    .project-title {
        font-size: 6em;
    }

    .header-container {
        margin: 3vh auto 5vh;
        max-width: fit-content;
    }

    .project-container {
        margin-top: 3vh;
        margin-bottom: 5vh;
        max-width: 50vw;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        line-height: 1.8;
        font-size: x-large;
    }
</style>
{% endblock style %}

{% block content %}

<body>
    <header class="header-container">
        <h1 class="project-title">{{ project.title }}</h1>
    </header>
    <div class="project-container">
        {{ project.body|safe }}
    </div>
</body>

{% endblock content %}