{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block content %}

<body>
    <div class="wrapper-container">
        <div class="info-container">
            <h1>Hi everyone<br>I'm an ambitious second year student of Applied Computer Science and Measurement
                Systems at University
                of Wrocław in Poland. Every time I work on a project I'm trying to acquire new skills while pursuing my
                genuine interests. Besides from programming I love photographing landscapes and going on bike trips.
            </h1>
            <p></p>
        </div>
        <div class="skills-container">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</body>

{% endblock content %}