{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
    hr {
        margin: 6vh 0 2vh;
        height: 0.4vh;
        background-color: var(--text-color);
        border-radius: 2px;
    }

    .skills-container {
        margin: 2vh 0 3vh;
    }

    .skills-title {
        margin: 2vh 0;
    }

    .skills-separator {
        height: 0.15vh;
        background-color: var(--text-color);
    }

    .skills-list {
        display: flex;
        flex-wrap: wrap;
        gap: 3vw;
    }

    ul.skills-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1vh;
    }

    ul.skills-list li i {
        font-size: 7rem;
    }

    @media only screen and (max-width: 600px) {
        ul.skills-list li i {
            font-size: 4rem;
        }
    }
</style>
{% endblock style %}

{% block content %}

<div class="wrapper-container">
    <div class="info-container">
        <h1>Hi everyone &#128075;</h1>
        <p>I'm Dawid, an ambitious third-year IT student at the University of Wrocław in Poland, passionate about Python
            and C. Beyond the screen, I love capturing moments through photography and exploring the world around me
            (especially nature) on hikes, rides, and trips. Always learning, always curious.
        </p>
        <br>
        <p>Currently, I'm working at Nokia as a software developer working student, where I automate tests and
            prepare test environments. During this time I was allowed to learn tools such as Docker, Wireshark, and
            Robot Framework. Before this, I worked as a Python developer intern (also in Nokia), creating tools for
            automating various processes essential for software development in a team and contributing to existing
            libraries. I developed a tool for the creation of release messages for MSTeams, and a tool for observing
            internal tests and collecting data about those. Last but not least, I developed a tool for automated
            library building and testing.
        </p>
    </div>
    <hr>
    <div class="skills-container">
        <h2 class="skills-title">Programming languages</h2>
        <ul class="skills-list">
            <li>
                <i class="devicon-python-plain"></i>
                <span>Python</span>
            </li>
            <li>
                <i class="devicon-c-plain"></i>
                <span>C</span>
            </li>
            <li>
                <i class="devicon-cplusplus-plain"></i>
                <span>C++</span>
            </li>
            <li>
                <i class="devicon-bash-plain"></i>
                <span>Bash</span>
            </li>
            <!-- <li>
                    <i class="devicon-javascript-plain"></i>
                    <span>JavaScript</span>
                </li> -->
        </ul>
        <hr class="skills-separator">
        <h2 class="skills-title">Libraries and frameworks</h2>
        <ul class="skills-list">
            <li>
                <i class="devicon-matplotlib-plain"></i>
                <span>Matplotlib</span>
            </li>
            <li>
                <i class="devicon-numpy-plain"></i>
                <span>NumPy</span>
            </li>
            <li>
                <i class="devicon-pandas-plain"></i>
                <span>Pandas</span>
            </li>
            <li>
                <i class="devicon-scikitlearn-plain"></i>
                <span>Scikit-learn</span>
            </li>
            <li>
                <i class="devicon-django-plain"></i>
                <span>Django</span>
            </li>
            <li>
                <i class="devicon-flask-original"></i>
                <span>Flask</span>
            </li>
            <li>
                <i class="devicon-pytest-plain"></i>
                <span>Pytest</span>
            </li>
        </ul>
        <hr class="skills-separator">
        <h2 class="skills-title">Tools and technologies</h2>
        <ul class="skills-list">
            <li>
                <i class="devicon-git-plain"></i>
                <span>Git</span>
            </li>
            <li>
                <i class="devicon-gitlab-plain"></i>
                <span>GitLab</span>
            </li>
            <li>
                <i class="devicon-github-original"></i>
                <span>GitHub</span>
            </li>
            <li>
                <i class="devicon-docker-plain"></i>
                <span>Docker</span>
            </li>
            <li>
                <i class="devicon-linux-plain"></i>
                <span>Linux</span>
            </li>
            <li>
                <i class="devicon-windows8-original"></i>
                <span>Windows</span>
            </li>
            <li>
                <i class="devicon-sqlite-plain"></i>
                <span>SQlite</span>
            </li>
            <li>
                <i class="devicon-jenkins-line"></i>
                <span>Jenkins</span>
            </li>
            <li>
                <i class="devicon-html5-plain"></i>
                <span>HTML</span>
            </li>
            <li>
                <i class="devicon-css3-plain"></i>
                <span>CSS</span>
            </li>
            <li>
                <i class="devicon-vim-plain"></i>
                <span>Vim</span>
            </li>
            <li>
                <i class="devicon-markdown-original"></i>
                <span>Markdown</span>
            </li>
            <li>
                <i class="devicon-confluence-plain"></i>
                <span>Confluence</span>
            </li>
            <li>
                <i class="devicon-jira-plain"></i>
                <span>Jira</span>
            </li>
            <li>
                <i class="devicon-jupyter-plain"></i>
                <span>Jupyter</span>
                <span>Notebooks</span>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}