:root {
    --text-color: #8E8E8E;
    --bkg-color: #121212;
    --btn-default: #1B5E20;
    --btn-hover: #256D27;
    --btn-active: #104417;
    --thumb-default: #2E7D32;
    --thumb-hover: #388E3C;
    --thumb-active: #1B5E20;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bkg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-default);
    margin: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    transition: linear 0.2s;
    background-color: var(--thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    transition: linear 0.2s;
    background-color: var(--thumb-active);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

code {
    border-radius: 10px;
    margin: 3vh auto;
}

body {
    font-size: x-large;
    background: var(--bkg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

footer {
    height: 2vh;
    color: var(--color-surface75);
    margin-bottom: 2vh;
}

i {
    font-size: xx-large;
}

a {
    color: var(--btn-color);
    text-decoration: none;
}

a:hover {
    transition: linear 0.2s;
    color: var(--btn-h-dark-color);
}

/* p {
    text-wrap: pretty;
    white-space: unset;
    hyphens: auto;
} */

.redirect-link {
    color: var(--text-color);
}

.redirect-link:hover {
    transition: linear 0.2s;
    color: var(--btn-h-dark-color);
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.emojione {
    width: 64px;
    height: 64px;
}

/* .navigation-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navBar {
    width: 100%;
    background-color: var(--bkg-color);
    border-bottom: var(--color-surface25) solid;
    border-width: 0.5px;
    padding: 10px;
    display: flex;
}

.navigation-container {
    margin-right: auto;
} */

.links-list-container {
    margin-left: auto;
}

.wrapper-container {
    max-width: 70vw;
    min-width: 70vw;
    margin: 5vh auto;
    /* background-color: var(--bkg-color); */
    padding: 1vh 1vw;
    /* border-radius: 10px;
    border-width: 0.5px;
    border-color: var(--color-surface25);
    border-style: solid; */
}

::marker {
    color: var(--btn-h-color);
}