:root {
    /*Maybe use this for text color: #D0D0D0*/
    --text-color: #D4D4D4;
    --bkg-color: #1A1A1A;

    --btn-default: #1B5E20;
    --btn-hover: #256D27;
    --btn-active: #104417;

    --thumb-default: #2E7D32;
    --thumb-hover: #388E3C;
    --thumb-active: #1B5E20;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--bkg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-default);
    margin: 10px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    transition: linear 0.2s;
    background-color: var(--thumb-hover);
}

::-webkit-scrollbar-thumb:active {
    transition: linear 0.2s;
    background-color: var(--thumb-active);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    color: var(--text-color);
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    font-size: x-large;
    background: var(--bkg-color);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}

aside {
    position: fixed;
    left: 10vw;
}

#navigation {
    list-style-type: none;
    float: left;
    position: fixed;
    margin: 5vh auto;
}

#navigation li {
    margin: 1vh 0;
}

#navigation a {
    font-size: large;
}

.navigation-link {
    color: var(--text-color);
    font-size: xx-large;
    text-decoration: none;
}

.navigation-link:hover {
    transition: linear 0.2s;
    color: var(--btn-hover);
}


.navigation-link:active {
    transition: linear 0.2s;
    color: var(--btn-active);
}


footer {
    height: 2vh;
    margin-bottom: 6vh auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 55vw;
    min-width: 55vw;
}

a {
    color: var(--thumb-default);
    font-size: xx-large;
    text-decoration: none;
}

a:hover {
    transition: linear 0.2s;
    color: var(--thumb-hover);
}


a:active {
    transition: linear 0.2s;
    color: var(--thumb-active);
}

a i {
    font-size: xx-large;
    text-decoration: none;
}

a:hover i {
    transition: linear 0.2s;
    color: var(--btn-hover);
}


a:active i {
    transition: linear 0.2s;
    color: var(--btn-active);
}

p {
    text-wrap: pretty;
    white-space: unset;
    hyphens: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.emojione {
    width: 64px;
    height: 64px;
}


#media-list li {
    display: inline;
}

.wrapper-container {
    flex-grow: 1;
    max-width: 55vw;
    min-width: 55vw;
    margin: 5vh auto;
    padding: 1vh 1vw;
}

::marker {
    color: var(--btn-active);
}

code {
    border-radius: 10px;
    margin: 3vh auto;
}